langchain
langchain-openai
langchain-google-genai
llama-index
ragas
datasets
pgvector
psycopg2-binary
python-dotenv
pandas
scikit-learn
matplotlib
seaborn
langchain-community
tiktoken
langchain-text-splitters
